body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
header{
    background: url("./assets/pexels-kindelmedia-8093182.jpg");
    background-size: 100%;
    background-position: 0 -16rem;
    padding-block-start: 3rem;
}
nav {
    height: 2rem;
    justify-content: end;
    display: flex;
    align-items: end;
}

button {
    border: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgb(2, 223, 223);
    color: white;
    font-weight: bold;
    font-size: 200%;
    padding: 3rem 1.5rem 1rem;
}

button:hover {
    padding-block-start: 4rem;
}
footer {
    background: rgb(7, 137, 224);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-block: 2rem;
}
footer > * {
    margin: 0;
}
.large-img {
    max-width: 50rem;
}
.background-green {
    background: rgb(1, 239, 1);
}

.background-coral {
    background: coral;
}

#content {
    background: white;
}
.carousell {
    justify-content: center;
    width: 90%;
    overflow: hidden;
}
.logo {
    display: flex;
    font-size: xx-large;
    justify-content: center;
}
.logo-background {
    background: rgb(16, 226, 240);
    padding: 1rem 4rem 1rem;
    border-radius: 8rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.logo-background h5 {
    align-self:flex-start;
}
.logo * {
    margin: 0;
    font-family: "Sansita Swashed", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}